---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <h1>良デザイン実装場</h1>
      <p>
        <a href="https://manasas.dev" target="_blank" rel="me">まなさす</a
        >が見かけた良いデザインを実装してみる場
      </p>
    </section>
    <section>
      <h2>実装してみたもの</h2>
      <ul>
        <li><a href="/expand">スクロールに応じて画像がふわっと拡大する</a></li>
      </ul>
    </section>
  </main>
  <footer>
    <a href="https://manasas.dev">© 2023 manasas</a>
  </footer>
</Layout>

<style lang="scss">
  body {
    margin: 0;
    background: #0a0d0a;
    color: white;
  }
  a {
    color: white;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  section {
    padding: 8px 8px;
  }
  main {
    max-width: 800px;
    min-height: calc(100vh - 29px);
    margin: 0 auto;
  }
  footer {
    background: #44617b;
    text-align: center;
    padding: 4px 8px;
    a {
      text-decoration: none;
    }
  }
</style>
