---
import Layout from "../layouts/Layout.astro";
---

<Layout title="manasas ui sandbox">
  <main>
    <section>
      <h1>manasas ui sandbox (良デザイン実装場)</h1>
      <p>
        <a href="https://manasas.dev" target="_blank" rel="me">まなさす</a
        >が見かけた良いデザインを実装してみる場
      </p>
    </section>
    <section>
      <h2>実装してみたもの</h2>
      <ul>
        <li><a href="/expand">スクロールに応じて画像がふわっと拡大する</a></li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  section {
    padding: 8px 8px;
  }
</style>
